html, body {
    height: 100vh;
    overflow: auto;
    background-color: #DFDEDE;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.img-produto-carrinho {
    height: 100px;
}

.banner-home {
  height: 400px;
  background-color: rgb(47, 129, 72);
}

.logo {
    height: 10%;
    width: 10%;
}

