:root {
  --first-color: #134880;
  --first-color-light: #268fff;
  --white-color: #F7F6FB;
  --bs-link-hover-color: #73b7ff;
}

/**Paleta
  #134880
  #73b7ff
  #268fff
  #395b80
*/

html, body {
  height: 100vh;
  overflow: auto;
  background-color: #DFDEDE;
}

footer {
  bottom: 0;
  width: 100%;
  position: static;
}

a {
  text-decoration: none;
  color: #395b80;
}


.img-produto-carrinho {
    height: 100px;
}

.nome-produto {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner-home {
  height: 400px;
  background-color: #395b80;
}

.logo {
  max-width: 35%;
  height: auto;
}

.paragraph-no-space {
    margin: 0;
}

/** Sidebar **/
.l-navbar {
  height: 80vh;
}

.l-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1rem;
  padding: .4rem 0 1rem;
}

.active-navbar {
  color: var(--first-color-light);
}

.cartao-preferencial {
  color: #73B7FF;
}

.login-container {
  height: 68%;
}